* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(7, 23, 31);
}

body.light {
    background: rgb(209, 218, 227);
}


.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./clock.png);
    background-size: cover;
    border: 6px solid rgb(9, 25, 33);
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(225, 225, 225, 0.05),
        inset 0 -15px 15px rgba(0, 0, 0, 0.3),
        0 15px 15px rgba(225, 225, 225, 0.05),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);

}


body.light .clock {
    background: url(./clock.png);
    background-size: cover;
    border: 6px solid rgb(202, 211, 220);
    box-shadow: -8 -8px 15px rgba(255, 255, 255, 0.5),
        inset 0 -15px 15px rgba(0, 0, 0, 0.3),
        10 10px 10px rgba(255, 255, 255, 0.5),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);
}


.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    z-index: 10000;
}


body.light .clock::before {
    background: rgb(0, 142, 255);
}


.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}


.clock .hour,
.hr {
    width: 160px;
    height: 160px;
}


.clock .min,
.mn {
    width: 190px;
    height: 190px;
}


.clock .sec,
.sc {
    width: 230px;
    height: 230px;
}


.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
}


.hr::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 80px;
    background: #ffbb00;
    z-index: 1;
    border-radius: 6px 6px 0 0;
}


.mn::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 90px;
    background: white;
    z-index: 2;
    border-radius: 6px 6px 0 0;
}


body.light .mn::before {
    background: rgb(9, 25, 33);
}


.sc::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 150px;
    background: rgb(0, 142, 255);
    z-index: 3;
    border-radius: 6px 6px 0 0;
}


.toggle {
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: rgb(209, 218, 227);
    color: rgb(209, 218, 227);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
}


.toggle:before {
    position: absolute;
    content: 'Light Mode';
    left: 25px;
    white-space: nowrap;
}


.toggleClass {
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: rgb(209, 218, 227);
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.toggleClass:before {
    position: absolute;
    left: 25px;
    content: 'Light Mode';
    white-space: nowrap;
}


body.light .toggleClass {
    background: rgb(9, 25, 33);
    color: rgb(9, 25, 33);

}


body.light .toggleClass::before {
    content: 'Dark Mode';
}